<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ошибка</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <p style="font-weight: bold">Что-то пошло не так</p>
                <p>Ведутся работы по устранению неисправности</p>
                <a href="/" class="btn btn-primary">Вернуться</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>